@model RISH.Models.Software

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LicenseType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftwareArchitecture.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareArchitecture.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
